<!-- Animal card for main directory page, includes image and breed name, links to details page -->
<section class="details animal-details">
  <a href="/animal/{{id}}">
    <img src="/images/{{filename}}" alt="{{description}}">   
    <h3>{{animal_breed}}</h3>
  </a>
</section>