<!-- Animal card for homepage, includes image and breed name, card links to details page -->
<section class="card">
  <a href="/category/{{id}}">
    <img src="/images/{{animals.[0].filename}}" alt="{{animals.[0].description}}">
    <header>{{name}}</header>
  </a>
</section>