<!-- Animal card for main directory page, includes image and breed name, card links to details page -->
<section class="card">
  <a href="/main/{{id}}">
    <div class="card-body">
      <img src="/images/{{animal.[0].filename}}" alt="{{animals.[0].description}}">
      <p>{{animal_breed}}</p>
    </div>
  </a>
</section>