<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cats VS Dogs</title>
   <!-- Third party links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <nav>
    <div class="nav-wrapper white lighten-2">
      <a href="#" class="justify-content-md-center"><img src="/images/cats_vs_dogs_logo_header.jpg" class="center-header"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         {{#if loggedIn}}
        <button id="logout" class="justify-content-md-end black-text">Logout</button>
        {{else}}
        <a href="/login" class="justify-content-md-end black-text">Login</a>
       {{/if}}
      </ul>
    </div>
  </nav>

  <main>
    <div class="homepage">
        {{{body}}}
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>

