<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cats VS Dogs</title>
   <!-- Third party links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  <nav>
    <div class="nav-wrapper grey lighten-2">
      <a href="#" class="brand-logo center"><img src="/public/images/cats_vs_dogs_logo_header.jpg"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <a href="/login">Login</a>
      </ul>
    </div>
  </nav>

  <main>
    <div class="homepage">
        {{{body}}}
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>

