<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cats VS Dogs</title>
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
<!-- Header login -->
<nav class="navbar navbar-light" style="background-color: #bacdf6;">
  <a class="navbar-brand" href="#">
    <a href="/" class="justify-content-md-center"><img src="/images/cats_vs_dogs_logo_header.jpg" class="center-header"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
         {{#if loggedIn}}
        <button id="logout" class="justify-content-md-end black-text">Logout</button>
         <script src="/js/logout.js"></script>
        {{else}}
        <a href="/login" class="justify-content-md-end black-text"><h6>Login</h6></a>
       {{/if}}
      </ul>
  </a>
</nav>
<!-- Header Logo -->
  <nav>
      
  </nav>

  <main>
    <div class="homepage">
        {{{body}}}
    </div>
  </main>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

