<section class="justify-content-center">
  <a>
  <div class="heroImage">
    <img src="/images/cats_vs_dogs_hero.jpg" alt="cat and dog fighting with lightsabers" class="center-header">
  </div>
  </a>

  <div class="buttons">
    <button type="button" id="add1" class="btn btn-primary btn-lg">Vote Dog</button>
    <button type="button" id="add2" class="btn btn-primary btn-lg">Vote Cat</button>
  </div>

  <div class="progress">
    <h3> Vote results: </h3>
    <div id="bar1" class="bar">

    </div>
    <div id="bar2" class="bar bar-green">

    </div>
  </div> 

  <div id="CatDog">

  </div>
</section>

<br><br>

<section class="container">
  <h3 class="animal-directory">{{animal.animal_type}}</h3>
  <section class="flex-row justify-center">
    <!-- For each category, the category-details partial is used to render the category data -->
    {{#each categories as |category|}}
    {{> category-details}}
    {{/each}}
  </section>
</section>

<script src="/js/home.js"></script>