<section>
  <a>
    <img src="/public/images/cats_vs_dogs_homepage.PNG" alt="cat and dog fighting with lightsabers" class="center">
  </a>

  <div class="buttons">
<button type="button" id="add1" class="btn btn-primary btn-lg">Vote Dog</button>
<button type="button" id="add2" class="btn btn-primary btn-lg">Vote Cat</button>


</div>
<div class="progress">
    <h3> Vote results: </h3>

<div id="bar1" class="bar"></div> 
<div id="bar2" class="bar bar-green"></div>

<br><br>

<div id="CatDog"></div>
    
</div>
</section>


<script src="./js/home.js"></script>